/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* CONTAINER */
.container{
  max-width: 120rem;
  margin:0 auto; 
  padding:1.5rem; 
}
/* HEADER */
.header{
  position: fixed; 
  width: 100%; 
  background: var(--light);
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
   z-index: 999; 
}
.header .header_wrapper{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}
.header .header_nav ul{
  display: flex; 
  gap: 5rem; 
}
.header .header_nav ul li a {
  color: black; 
  font-size: 2rem; 
  font-weight: 600; 
}
.header .header_nav ul li:hover{
  scale: 1.1; 
  border-bottom: 1px solid black;  
}
.toggle_menu{
  display: none; 
}
.toggle_menu span{
  width: 3rem;
  height: 0.5rem;
  display: block;
  background-color: var(--primary);
  border-radius: 5rem; 
  transition: 0.5s ease;
}
.toggle_menu span:nth-child(2){
  margin: 0.5rem 0; 
  width: 2.5rem; 
}
.toggle_menu span:last-child{
  width: 1.8rem; 
}
.toggle_menu.open span:first-child {
  width: 1.5rem; 
  transform: translateY(6px) rotate(-220deg); 
  transition: 0.5s ease;
}
.toggle_menu.open span:last-child {
  width: 1.5rem; 
  transform: translateY(-6px) rotate(220deg); 
  transition: 0.5s ease;
}
.header .header_nav.open{
  right: 0rem;
  transition: 0.5s ease;
}
@media screen and (max-width:500px){
 .header .header_nav{
  background: var(--accent); 
  position: absolute; 
  top: 8.8rem; 
  right: -100rem; 
  height: 100vh; 
  width: 70%; 
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
   transition: 0.5s ease;
 }
 .header .header_nav ul{
  display: flex;
  flex-direction: column; 
  width: fit-content;
  margin: 0 auto;
  padding-top: 10rem; 
 }
 .header .header_nav ul li a{
  color: var(--light); 
 }
 .header .header_wrapper .sign{
  display: none; 
 }
 .toggle_menu{
  display: block; 
 }
}
/* BANNER */
.banner{
  padding-top: 18rem;
  padding-bottom: 5rem; 
  background: var(--light); 
}
.banner .banner_wrapper{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10rem;  
  align-items: center; 
}
.banner .banner_img{
  display: flex; 
  gap: 3rem; 
  align-items: center; 
  position: relative; 
}
.banner .banner_img img{
  position: relative;
  z-index: 100;
  max-height: 45rem;
}
.banner .banner_wrapper:hover .banner_img::before{
left: -20rem;
transition: 0.5s ease;
}
.banner .banner_img .images img{
  min-height: 25rem; 
  width: 100%;
  object-fit: center; 
}
.banner .banner_img::before{
  content: url("/IMG/map (1).png");
  position: absolute;  
  top: -10rem;
  left: -12rem; 
  transition: 0.5s ease;
}
.banner .banner_text h1{
  font-size: 6rem; 
  font-weight: 800; 
  color: var(--primary);
}
.banner .banner_text h1 span{
  color: var(--accent); 
}
.banner .banner_text p{
  margin: 3rem 0; 
}
.banner .banner_text{
  position: relative;
}
.banner .banner_wrapper:hover .banner_text::after{
  transform: rotate(-360deg);
  transition: 0.5s ease;
}
.banner .banner_text::after{
  content: url("/IMG/airplane.png");
  position: absolute;
  bottom: -20rem;
  transition: 0.5s ease;
}
@media screen and (max-width:500px){
  .banner .banner_wrapper{
    display: grid;
    grid-template-columns: 1fr; 
  }
  .banner .banner_text h1{
    font-size: 4rem; 
    text-align: center; 
  }
  .banner .banner_text{
    text-align: center;
  }
  .banner .banner_text::after{
    content: "";
  }
  .banner .banner_wrapper:hover .banner_img::before{
    left: -12rem;
    transition: 0.5s ease;
    }
    .banner .banner_img .images img{
      min-height: 20rem; 
    }
}
/* TOP */
.top {
  padding: 5rem 0;
  background: var(--primary);
}
.top h2 {
  color: var(--light);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.top .top_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}
.top .top_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--light);
  text-align: justify;
}
.top .top_media{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.top .top_media img{
  min-height: 40rem;
  border-radius: 3rem; 
  transition: 0.5s ease;
}
.top .top_img{
  position: relative;
}
.top .top_img .top_img_item{
  overflow: hidden; 
  border-radius: 3rem; 
}
.top .top_img .top_img_text{
  background: rgba(0, 0, 0, 0.5); 
  position: absolute; 
  top: 0;
  height: 100%; 
  width: 100%; 
  border-radius: 3rem; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  padding: 3rem; 
}
.top .top_img .top_img_text h4{
  color: var(--light);
  font-weight: 600; 
  font-size: 2rem;
}
.top .top_img .top_img_text p{
  color: var(--light);
}
.top .top_img:hover img{
  scale: 1.1;
  transition: 0.5s ease; 
}
@media screen and (max-width: 500px){
  .top .top_text{
    display: none; 
  }
  .top .top_wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .top h2{
    text-align: center; 
  }
}
/* LATEST  */
.latest{
  background: var(--light);
  padding: 5rem 0;
}
.latest h2{
  color: var(--primary);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.latest .latest_wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3rem;
}
.latest .latest_left img{
  border-radius: 3rem; 
  margin-bottom: 3rem;
  max-height: 500px; 
  width: 100%;
  object-fit: cover;
}
.latest .latest_left h3{
  font-size: 2rem;
  color: var(--primary);
  font-weight: 800; 
}
.latest .latest_left h6{
  font-size: 1.3rem; 
  margin: 1rem 0; 
}
.latest .latest_left p{
  color: var(--primary);
  text-align: justify; 
}
.latest .latest_item{
  display: flex;
  gap: 2rem; 
  color: var(--primary);
  align-items: center;
}
.latest .latest_right{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.latest .latest_item h3{
  font-size: 2rem;
  color: var(--primary);
  font-weight: 800; 
  margin: 2rem 0;
}
/* BEYOND  */
.beyond {
  background: var(--primary);
  padding: 5rem 0;
  color: var(--light);
}
.beyond h2 {
  color: var(--light);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.beyond .beyond_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}
.beyond .beyond_info {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.beyond .beyond_info img {
  border-radius: 5rem;
  width: 10rem;
}
.beyond .beyond_info h3 {
  font-size: 2.5rem;
  font-weight: 600;
}
.beyond .beyond_info h4 {
  font-weight: 600;
}
.beyond .beyond_content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 50rem;
  margin: 3rem 0;
}
.beyond .beyond_content p {
  text-align: justify;
}
.beyond .beyond_img {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2rem;
}
.beyond .beyond_img img {
  height: 100%;
  object-fit: center;
}
@media screen and (max-width: 500px) {
  .beyond h2 {
    text-align: center;
  }
  .beyond .beyond_img {
    display: none;
  }
  .beyond .beyond_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3rem;
  }
  .beyond .beyond_content h3 {
    max-width: 30rem;
    text-align: center;
    margin: 3rem auto;
  }
}
/* TRAVEL  */
.travel{
  padding: 5rem 0; 
  background-image:url("/IMG/cta-img.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.travel h2{
  color: var(--light);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}
.travel .travel_input{
  text-align: center; 
  margin: 2rem 0; 
}
.travel .travel_input input{
  height: 5rem; 
  border-radius: 1rem;
  padding: 1.5rem; 
}
.travel .travel_input input:focus{
  outline: none; 
}
.travel p{
  color: var(--light);
  text-align: center; 
}
.travel p a{
  color: var(--light);
  text-decoration: underline; 
}
/* FOOTER  */
.footer{
  background: var(--primary);
  color: var(--light);
  padding: 2rem 0; 
}
/* REPEATABLE PATTERNS */
:root{
  --primary: #004225;
  --light: #ffffff; 
  --dark: #000000;
  --accent: #618264;   
}
.btn {
  padding: 1.5rem 2rem; 
  border-radius: 1rem; 
  border: 1px solid transparent; 
  font-size: 1.5rem; 
  display: inline-block;   
} 
.btn.bg-primary{
  background: var(--primary);
  color: var(--light);  
}
.btn.bg-primary:hover{
  background:var(--light);
  color: var(--primary);
  border: 1px solid var(--primary); 
}



  
  





