/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* CONTAINER */
.container{
  max-width: 120rem;
  margin:0 auto; 
  padding:1.5rem; 
}
/* HEADER */
.header{
  position: fixed; 
  width: 100%; 
  background: var(--light);
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
   z-index: 999; 
}
.header .header_wrapper{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}
.header .header_nav ul{
  display: flex; 
  gap: 5rem; 
}
.header .header_nav ul li a {
  color: black; 
  font-size: 2rem; 
  font-weight: 600; 
}
.header .header_nav ul li:hover{
  scale: 1.1; 
  border-bottom: 1px solid black;  
}
.toggle_menu{
  display: none; 
}
.toggle_menu span{
  width: 3rem;
  height: 0.5rem;
  display: block;
  background-color: var(--primary);
  border-radius: 5rem; 
  transition: 0.5s ease;
}
.toggle_menu span:nth-child(2){
  margin: 0.5rem 0; 
  width: 2.5rem; 
}
.toggle_menu span:last-child{
  width: 1.8rem; 
}
.toggle_menu.open span:first-child {
  width: 1.5rem; 
  transform: translateY(6px) rotate(-220deg); 
  transition: 0.5s ease;
}
.toggle_menu.open span:last-child {
  width: 1.5rem; 
  transform: translateY(-6px) rotate(220deg); 
  transition: 0.5s ease;
}
.header .header_nav.open{
  right: 0rem;
  transition: 0.5s ease;
}
@media screen and (max-width:500px){
 .header .header_nav{
  background: var(--accent); 
  position: absolute; 
  top: 8.8rem; 
  right: -100rem; 
  height: 100vh; 
  width: 70%; 
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
   transition: 0.5s ease;
 }
 .header .header_nav ul{
  display: flex;
  flex-direction: column; 
  width: fit-content;
  margin: 0 auto;
  padding-top: 10rem; 
 }
 .header .header_nav ul li a{
  color: var(--light); 
 }
 .header .header_wrapper .sign{
  display: none; 
 }
 .toggle_menu{
  display: block; 
 }
}
/* BANNER */
.banner{
  padding-top: 18rem;
  padding-bottom: 5rem; 
  background: var(--light); 
}
.banner .banner_wrapper{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10rem;  
  align-items: center; 
}
.banner .banner_img{
  display: flex; 
  gap: 3rem; 
  align-items: center; 
  position: relative; 
}
.banner .banner_img img{
  position: relative;
  z-index: 100;
  max-height: 45rem;
}
.banner .banner_wrapper:hover .banner_img::before{
left: -20rem;
transition: 0.5s ease;
}
.banner .banner_img .images img{
  min-height: 25rem; 
  width: 100%;
  object-fit: center; 
}
.banner .banner_img::before{
  content: url("/IMG/map (1).png");
  position: absolute;  
  top: -10rem;
  left: -12rem; 
  transition: 0.5s ease;
}
.banner .banner_text h1{
  font-size: 6rem; 
  font-weight: 800; 
  color: var(--primary);
}
.banner .banner_text h1 span{
  color: var(--accent); 
}
.banner .banner_text p{
  margin: 3rem 0; 
}
.banner .banner_text{
  position: relative;
}
.banner .banner_wrapper:hover .banner_text::after{
  transform: rotate(-360deg);
  transition: 0.5s ease;
}
.banner .banner_text::after{
  content: url("/IMG/airplane.png");
  position: absolute;
  bottom: -20rem;
  transition: 0.5s ease;
}
@media screen and (max-width:500px){
  .banner .banner_wrapper{
    display: grid;
    grid-template-columns: 1fr; 
  }
  .banner .banner_text h1{
    font-size: 4rem; 
    text-align: center; 
  }
  .banner .banner_text{
    text-align: center;
  }
  .banner .banner_text::after{
    content: "";
  }
  .banner .banner_wrapper:hover .banner_img::before{
    left: -12rem;
    transition: 0.5s ease;
    }
    .banner .banner_img .images img{
      min-height: 20rem; 
    }
}
/* TOP  */
.top{
  background: var(--primary);
  padding: 5rem 0;
}
.top h2{
  font-size: 3rem;
  color: var(--light);
  font-weight: 600;
}
.top .top_wrapper{
  margin_top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* REPEATABLE PATTERNS */
:root{
  --primary: #004225;
  --light: #ffffff; 
  --dark: #000000;
  --accent: #618264;   
}
.btn {
  padding: 1.5rem 2rem; 
  border-radius: 1rem; 
  border: 1px solid transparent; 
  font-size: 1.5rem; 
  display: inline-block;   
} 
.btn.bg-primary{
  background: var(--primary);
  color: var(--light);  
}
.btn.bg-primary:hover{
  background:var(--light);
  color: var(--primary);
  border: 1px solid var(--primary); 
}



  
  





